.main {
    padding-top: 60px;
}

.bannerServices {
    margin-top: 2%;
    margin-bottom: 2%;
}

.bannerMain {
        display: flex;
}

.bannerBox1 {
    background: #031f9a;
    padding: 2.5em;
    width: 45%;
}
.bannerSub1 {
    background: #031f9a;
    padding: 4em 2em;
    position: relative;
    text-align: center;
    margin-bottom: 2.6em;
}
.bannerSub1 p {
    color: #fff;
    width: 86%;
    margin: 26px auto;
}
.bannerSub1 h3 {
    color: #febf00;
    font-size: 25px;
    text-transform: capitalize;
}
.bannerSub1 span {
    font-size: 90px;
    color: #ffffff;
    opacity: 0.1;
    position: absolute;
    top: 38px;
    left: 8%;
}
.bannerBtn a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 4px 16px;
    font-size: 15px;
    text-transform: capitalize;
    background: transparent;
    border: 2px solid #fff;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    border-radius: 0px;
}

.aboutMain {
    background: #febf00;
}

.aboutLeft {
    background:linear-gradient(0deg, rgba(254, 191, 0, 0.74), rgba(254, 191, 0, 0.74)), url(../../../img/home/about.jpg) no-repeat center ;
    background-size: cover;
    min-height: 498px;
}
.leftMain {
    padding-top: 150px;
}
.leftMain h4 {
    text-align: center;
    font-size: 7em;
    font-weight: bold;
    color: #031f9a;
}
.leftMainSub {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
}
.leftMainSub span {
    color: #e21111;
}
.aboutRight {
    padding: 3em 3em 1em;
}
.aboutRight h4 {
    font-weight: 600;
    color: #031f9a;
    font-size: 30px;
}
.aboutIcon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #febf00;
    background: #031f9a;
    border: 3px solid #031f9a;
}
.aboutIcon:before {
    font-size: 1.5em;
    display: block;
    line-height: 1.8em;
}
.aboutIconText {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
}
.section3Left {
    background: url(../../../img/home/g7.jpg) no-repeat center;
    background-size: cover;
    min-height: 400px;

}
.section3Right {
    padding: 137px 50px;
    background: #ebebeb;
    
}
