.main {
   padding-top: 80px;
}
.cardMain {
    padding: 15px;
}
.cardSubMain {
    -webkit-box-shadow: -2px 4px 5px rgba(25, 13, 15, 0.17);
    -moz-box-shadow: -2px 4px 5px rgba(25, 13, 15, 0.17);
    box-shadow: -2px 4px 5px rgba(25, 13, 15, 0.17);
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}